div#box {
  display: block;
  width: 100%;
  height: 150px;
  background-color: #000;
}

button.btn {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #c74f4f;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
